<div class="mat-monster-label">
	<div class="mat-label mat-col1">
		<label class="mat-label mat-num-group-monster">
			<input type="number" class="mat-label mat-col1 numMonster" title="Number of {{this.actorName}}"
				name="{{this.actorId}}" width="20" min="1" value="{{this.amount}}" onClick="this.select();" />
			<label class="mat-label mat-col2 mat-num-buttons">
				<a name="decreaseNumMonster" class="increaseNumMonster" data-action="increaseNumMonster"><i class="fas fa-chevron-up"></i></a>
				<a name="increaseNumMonster" class="decreaseNumMonster" data-action="decreaseNumMonster"><i class="fas fa-chevron-down"></i></a>
			</label>
		</label>
	</div>
	<!-- <label class="mat-label mat-col1">{{this.actorAmount}}</label> -->
	<label class="mat-label mat-col2">
		<img class="mat-monster-icon mat-monster" src="{{actorImg}}" title="Open {{this.actorNameImg}} sheet" width="36"
			height="36" data-item-id="{{this.actorId}}" data-action="displayMonster">
	</label>
	<label class="mat-label mat-col3 mat-monster-name"><a class="mat-monster" data-item-id="{{this.actorId}}"
			title="Open {{this.actorName}} sheet" data-action="displayMonster">{{this.actorName}}</a></label>
</div>
{{#if this.multiattackDesc}}
<div class="hint">
	<p>{{this.multiattackDesc}}</p>
</div>
{{/if}}